<div class="createContactPanel">
  <form class="form" name="addContact" >
      <div class="header">
          <h1>Add Contact!</h1>
      </div>
      <div class="inputs">
              <input type="text" id="phoneNumber" name='phoneNumber' placeholder="Phone Number.." required maxlength="12">
              <br>
              <input type="text" name='name' placeholder="Contact Name.." required>
      </div>
      <div class="addContact">
              <button type="button" class='addButton' id='addBtn' (click)="onClickAdd()">Add Contact!</button>
   </div>
   </form>
  </div>
