<div class="createContactPanel">
  <form class="form" name="addcontact" >
      <div class="header">
          <h1>Add Contact!</h1>
      </div>    
      <div class="inputs">
              <input type="text" id="phonenumber" name='phoneNumber' placeholder="Phone Number.." required maxlength="12">
              <input type="text" name='name' placeholder="Contact Name.." required>

      </div>
      <div class="addContact">
              <button type="button" class='addButton' id='addbtn' (click)="onClickAdd()">Add Contact!</button>
   </div>
   </form>
  </div>
