$background_color_1: #ddd;
$background_color_2: beige;
$color_1: black;

*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-thumb {
	background: rgb(100, 100, 100);
	border-radius: 10px;
}
#contactPanel {
	width: 30%;
	height: 100%;
	background-color: $background_color_1;
	position: absolute;
	overflow: scroll;
	overflow-y: visible;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}
ul {
	margin: 0;
	padding: 0;
	li {
		padding-bottom: 10px;
		border: bottom color $color_1;;
		border-bottom-width: 1px;
		&:hover {
			background-color: $background_color_2;
			-webkit-animation-delay: 1s;
		}
	}
}
.contactList {
	cursor: pointer;
	position: relative;
	padding: 8px 12px 40px;
	list-style-type: none;
	font-size: 18px;
	transition: 0.2s;
}
.contact{
 padding: 5px;
}