<div class="navigationBar">
  <img src="/assets/images/Profile-Picture.png" height="40px" width="40px" class="Profile">
  <a href="#Username">Username</a>
  <a class="active" href="#Contacts">Contacts</a>
  <a href="#Settings">Settings</a>
  <a> {{messageNumber}}</a>
</div>
<div class="parentDiv">
  <div class="contactListDiv">
    <app-contact-list (childEvent)= "messageNumber=$event"  [mobileNo] = 'mobileNo' ></app-contact-list>
  </div>
 <div class="chatWindowDiv">
    <app-chat-window [messageNumber] = 'messageNumber' [mobileNo] = 'mobileNo' ></app-chat-window>
  </div>
</div>
