$color_1: white;
$color_2: #f1f1f1;
$color_3: #f44336;
$color_4: #fff;
$font_family_1: Arial, Helvetica, sans-serif;
$background_color_1: #ddd;
$background_color_2: #4CAF50;
$background_color_3: #f44336;
$background_color_4: #474e5d;
$background_color_5: #fefefe;
$background_color_6: black;

* {
	box-sizing: border-box;
  }
  .id01{
    background-image: url('/assets/images/chat-background.png');
    background-repeat: no-repeat;
    height: 525px;
  }
input[type=text] {
	width: 250px;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	&:focus {
		background-color: $background_color_1;
		outline: none;
	}
}
input[type=password] {
	width: 250px;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	&:focus {
		background-color: $background_color_1;
		outline: none;
	}
}
button {
	background-color: $background_color_2;
	color: $color_1;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 250px;
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}
}
.cancelButton {
	padding: 14px 20px;
	background-color: $background_color_3;
	float: center;
	width: 250px;
}
.signUpButton {
	float: center;
	width: 250px;
}
.container {
	padding: 16px;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $background_color_4;
	padding-top: 50px;
}
.modal-content {
	background-color: $background_color_5;
	margin: 3% auto 3% auto;
	border: 1px solid #888;
	width: 47%;
}
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}
.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: $color_2;
	&:hover {
		color: $color_3;
		cursor: pointer;
	}
	&:focus {
		color: $color_3;
		cursor: pointer;
	}
}
.toolTip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	.toolTipText {
		visibility: hidden;
		width: 120px;
		background-color: $background_color_6;
		color: $color_4;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
	}
	&:hover {
		.toolTipText {
			visibility: visible;
		}
	}
}

